* {
    margin:0;
    padding:0;
    list-style-type:none;
}
img {
    width:100%;
    height:auto;
}

.goods { /* стили для блока с товарами*/
    display:flex;
    justify-content:space-around;
    flex-direction:row;
}
.card { /* стиль для каждой карточки с товаром */
    border:1px solid lightgrey;
    border-radius:10px;
}

/* слайдер */
.slider {
    margin-bottom:20px;
    position:relative;
}
#slider img {
    height:50vh;
}
#slider li {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    opacity:0;
    transition-property:opacity;
    transition-duration:3s;
}
#slider li.active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 3s;
}
